@tailwind utilities;

body {
  --bg: #fff;
  --lightBg: #f5f5f5;
  --sideBarBg: #090A0F;
  --textNormal: #181818;
  --textTitle: #181818;
  --textLink: #f05222;
  --hr: hsla(0, 20%, 1%, 0.2);

  background-color: var(--bg);
}

body.dark {
  -webkit-font-smoothing: antialiased;

  --bg: #1e1e1e;
  --lightBg: #0f0f0f;
  --textNormal: #e0e0e0;
  --textTitle: #fff;
  --textLink: #f05222;
  --hr: hsla(0, 0%, 100%, 0.2);
}
a {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-word-break: break-all;
}
a.gatsby-resp-image-link {
  color: var(--bg);
  transition: ease 200ms all;
}
a.gatsby-resp-image-link:hover {
  cursor: pointer;
  transform: translateY(-2px);
  box-shadow: 0px 6px 13px 2px rgba(0, 0, 0, 0.25);
}
a.gatsby-resp-image-link picture > img,
a.gatsby-resp-image-link picture > source {
    width: auto !important;
    position: inherit !important;
}
a.gatsby-resp-image-link picture > source {
    height: 100%;
}
span.gatsby-resp-image-background-image {
    padding: 0 !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
blockquote {
  color: var(--textTitle);
  font-family: Ubuntu,-apple-system,Segoe UI,Roboto,Oxygen,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}

.h1 {
  font-size:2.5rem;
}

.footnotes {
  word-break: break-all;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;

  background: transparent;
  cursor: pointer;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;

  outline: 0;
}
.sidebar {
  -webkit-font-smoothing: antialiased;
  height: 120px;
  min-height: 120px;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  text-align: center;
  background-color: var(--sideBarBg);
  background-image: radial-gradient(ellipse at 50% 0%, #131C4E 0%, var(--sideBarBg) 60%);
  background-repeat: no-repeat;
  background-size: 100% 300px;
}
.sidebar > div > h2 {
    margin: 0;
    color: var(--lightBg);
}
.sidebar .logo {
    -webkite-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 70px;
    margin-bottom: 10px;
}
.sidebar > div > h2 {
    margin-bottom: 5px;
}
.sidebar > div > .telegram-chat {
    font-family: 'Lato', sans-serif;
    border-bottom: 0;
    box-shadow: none;
    font-size: 14px;
}
.sidebar .nostr > svg > g {
    transform: scale(0.012);
}

.main-content {
  background-color: var(--bg);
  position: absolute;
  top: 150px;
  z-index: 10;
  padding: 0 20px 0;
  margin-left: 0;
}
.main-content > main > article > header > h1,
.main-content > main > article:first-child > header > h2 {
    margin-top: 0;
}
.main-content > main > article > section {
    font-size: 110%;
    line-height: 1.9;
}
.main-content > main > article > section video {
    max-width: 100%;
}
.main-content > main > article > section > ul,
.main-content > main > article > section > ol{
    margin-left: 40px;
    line-height: 1.3;
}
.main-content > main > article > section > ul > li,
.main-content > main > article > section > ol > li{
    padding-left: 10px;
}

.main-content code {
    word-wrap: break-word;
}

.main-content > main > article > section .gatsby-highlight {
    font-size: 65%;
    line-height: 1;
    width: 90vw;
}

.main-content > main > article > section > p > code[class*="language-"], pre[class*="language-"] {
    font-size: 90%;
    color: #f05222;
    font-weight: 200;
    padding: .3em;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-word-break: break-all;
}
.main-content > main > article > section > code[class*="language-"], pre[class*="language-"] {
    font-size: 135%;
}
a > code {
    font-size: 90% !important;
    padding: .3em !important;
    color: var(--textLink) !important;
    border-bottom: 1px solid var(--textLink);
}
a:hover > code {
    border-bottom: none;
}
.sm-invisible {
    display: none;
}

footer a.nostr {
    margin-right: 5px;
}
footer a.linkedin > svg > path {
    transform: scale(1.6);
}
footer a.github > svg > path {
    transform: scale(1.4);
}
footer a.nostr > svg > g {
    transform: scale(0.012);
}

@media only screen and (max-width: 425px) {
    .main-content {
        max-width: 420px;
    }
}

@media only screen and (width: 320px) {
    .main-content {
        width: 320px;
    }
    .main-content > main > article > section .gatsby-highlight {
        width: 280px;
    }
}

@media only screen and (min-width: 768px) {
  .sidebar {
    height: 100vh;
    width: calc(100% / 3);
  }
  .main-content {
    padding: 0 100px 0;
    width: calc(100% - calc(100% / 3));
    margin-left: calc(100% / 3);
    top: 0;
  }
  .main-content > main > article > header > h1,
  .main-content > main > article:first-child > header > h2 {
      margin-top: 3.5rem;
  }
  .main-content > main > article > section .gatsby-highlight {
    width: 560px;
  }
  .main-content > main > article {
    max-width: 560px;
  }
  .sidebar {
    background-image: radial-gradient(ellipse at 0% 50%, #131C4E 0%, var(--sideBarBg) 60%);
    background-repeat: no-repeat;
    background-size: 2000px 100%;
  }
  .sidebar .logo {
    width: 280px;
  }
}
